body{
    background-image: url("/img/pizza2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    
}
h1{
    padding-top: 25px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
}
li a {
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}
.nav ul{
    width: 100%;
}

.pizza{
    color: black;
}

.shy{
    color: cornflowerblue;
}
p{
    font-size: 20px;
    padding-top: 20px;
    color:black;

}
h2{
    color: darkblue;
}
ol{
    text-align: left;
}
img{
    height: 200px;
    width: 200px;
}
#pep {
    display: none;
}
#chick{
    display: none;
}
#veg{
    display: none;
}